.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

body {
  color: #333;
  font-family: Lato, sans-serif;
  text-align: center;
  width: auto;
}

img {
  vertical-align: top;
}

.header {
  background: #fff;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-icon {
  color: #4e4e4e;
  float: left;
}

.btn {
  background: #74cfae;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  color:#333;
}

.header-btn {
  float: right;
  padding: 14px 12px;
}

.inner {
  margin: 0 auto;
  text-align: center;
  width: 1100px;
}

.title,
.works,
.sns {
  background: #f2f2f2;
}

.about,
.footer {
  background: #74cfae;
}

.skills {
  background: #4e4e4e;
}

.title {
  padding-top:70px;
}

.title-inner {
  padding: 250px 0;
}

.title-main {
  color: #74cfae;
  font-family: Raleway;
  font-size: 90px;
  font-weight: 700;
}

.title-sub {
  color: #c0c0c0;
  font-family: Raleway;
  font-size: 30px;
  font-weight: normal;
  margin-top: 20px;
}

.about-inner {
  padding-top: 50px;
}

.about-img {
  float: left;
  padding-left: 100px;
}

.about-title,
.works-title,
.skills-title {
  font-family: Raleway;
  font-size: 24px;
}

.about-title {
  margin-top: 15px;
}

.about-description {
  color: #fff;
  float: right;
  width: 660px;
}

.about-text {
  font-size: 20px;
  line-height: 28px;
  margin-top: 35px;
}

.works-inner {
  padding-top: 60px;
  padding-bottom: 70px;
}

.works-title {
  margin-bottom: 40px;
}

.works-wrap {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  width: auto;
}

.works-img {
  cursor: pointer;
  transition: 0.3s;
   opacity: 0.7;
  margin-top: 80px;
}

.works-img:hover {
  opacity: 1;
}

.works-img:nth-child(-n+3) {
  margin-top: 0;
}

.works-description {
  display: inline-block;
  margin-top: 90px;
}

.works-text {
  color: #4e4e4e;
  float: left;
  font-size: 22px;
  letter-spacing: 0.03em;
  line-height: 28px;
  width: 680px;
}

.email-btn {
  float: left;
  margin-left: 90px;
  padding: 14px 20px;
}

.skills-inner {
  padding-top: 70px;
  padding-bottom: 100px;
}

.skills-title {
  color: #fff;
  margin-bottom: 46px;
}

.skills-wrap {
  text-align: center;
}

.skills-figure {
  display: inline-block;
  margin-left: 180px;
}

.skills-figure:first-child {
  margin-left: 0;
}

.skills-figcaption {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

.sns-inner {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.sns-block {
  display: inline-block;
  padding: 40px 0;
  transition: 0.3s;
  width: 185px;
}

.sns-block:hover {
  background: #fff;
}

.sns-img {
  color: #74cfac;
  font-size: 2.5em;
}

.footer-inner {
  color: #fff;
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: right;
}
